VITE_SUPABASE_URL=https://syxxuumxkhhnoqrxporj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5eHh1dW14a2hobm9xcnhwb3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgwNDkyODMsImV4cCI6MjA3MzYyNTI4M30.LYR5S0DH3rsp9iWJm11gwNGoFn3s1nqwzW-JUpiHlC8